<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta name="author" content="github.com/arthurmedg">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aba</title>
</head>
<body>
    <!-- eu sou um comentário -->
     <marquee bgColor="red" behavior="slide" direction="up">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione, alias.</marquee>
     <marquee bgColor="blue" behavior="" direction="down">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione, alias.</marquee>
     <marquee bgColor="green" behavior="" direction="left">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione, alias.</marquee>
     <marquee bgColor="pink" behavior="" direction="right">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione, alias.</marquee>



</body>
</html>